body {
  background: #03A9F4;;
}

header {
  padding: 1rem 1rem 0rem 1rem;
  text-align: center;
}

#search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

input {
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid black;
}

h2 {
  padding: .75rem;
  border-radius: 10px;
  background: #d4d4d4;
  box-shadow: 1px 1px 5px #0000009e;
  cursor: pointer;
}

h2:hover {
  background: #bbbbbb;
}
